# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json


#Ignore vscode AI rules
.github/instructions/codacy.instructions.md

#Test results
.playwright-cli/
output/

